.category-container {
  background-color: #ECE9D8;
  border: 2px solid #0054E3;
  border-radius: 8px 8px 0 0;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  overflow: hidden;
  grid-area: category;
}

.category-title {
  background: linear-gradient(to bottom, #0054E3, #0831D9);
  height: 28px;
  padding-left: 8px;
}

.category-title span {
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.category-content {
  padding: 4px;
}